{% comment %}
  Renders cart drawer

  Usage:
  {% render 'cart-drawer' %}
{% endcomment %}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
<script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>
<script type="lazy-script" src="{{ 'quantity-popover.js' | asset_url }}" defer="defer"></script>
<cart-drawer class="drawer{% if cart == empty %} is-empty{% endif %}">
  <div id="CartDrawer" class="cart-drawer">
    <div id="CartDrawer-Overlay" class="cart-drawer__overlay"></div>
    <div
      class="drawer__inner gradient color-{{ settings.cart_color_scheme }}"
      role="dialog"
      aria-modal="true"
      aria-label="{{ 'sections.cart.title' | t }}"
      tabindex="-1"
    >
      {%- if cart == empty -%}
        <div class="drawer__inner-empty">
          <div class="cart-drawer__warnings center{% if settings.cart_drawer_collection != blank %} cart-drawer__warnings--has-collection{% endif %}">
            <div class="cart-drawer__empty-content">
              <h4 class="cart__empty-text">{{ 'sections.cart.empty' | t }}</h4>
              <button
                class="drawer__close"
                type="button"
                onclick="this.closest('cart-drawer').close()"
                aria-label="{{ 'accessibility.close' | t }}"
              >
              {% render 'icon' with 'close-cart' %}
              </button>
              <a href="{{ routes.all_products_collection_url }}" class="button">
                {{ 'general.continue_shopping' | t }}
              </a>

              {%- if shop.customer_accounts_enabled and customer == null -%}
                <p class="cart__login-title h3">{{ 'sections.cart.login.title' | t }}</p>
                <p class="cart__login-paragraph">
                  {{ 'sections.cart.login.paragraph_html' | t: link: routes.account_login_url }}
                </p>
              {%- endif -%}
            </div>
          </div>
          {%- if settings.cart_drawer_collection != blank -%}
            <div class="cart-drawer__collection">
              {% render 'card-collection', card_collection: settings.cart_drawer_collection, columns: 1 %}
            </div>
          {%- endif -%}
        </div>
      {%- endif -%}
      <div class="drawer__header">
        <div class="drawer__header--title">
          <h4 class="drawer-heading h6">{{ 'sections.cart.title' | t }}</h4>
          <p class="drawer__header--items">{{ cart.items.size }} {{ cart.items.size | pluralize: 'Item', 'Items' }}</p>
        </div>       

        <button
          class="drawer__close"
          type="button"
          onclick="this.closest('cart-drawer').close()"
          aria-label="{{ 'accessibility.close' | t }}"
        >
          {% render 'icon' with 'close-cart' %}
        </button>
      </div>     
      
      <div class="cart-drawer-overflow {% if settings.show_offers_cartdrawer %} offer-section{% endif %}">
      
        {%- if cart != empty -%} 
          {% if settings.cart_sale_banner != blank  %}
            <div class="cart-sale-image banner-image-wrapper">
              {% render 'picture', class: '', mobileSrc: settings.cart_sale_banner, desktopSrc: settings.cart_sale_banner %} 
            </div>
          {% endif %}         
          <div class="shipping-percentage-box-container">
              {% assign cart_price = cart.total_price | divided_by: 100 %}
              {% if cart_price >= settings.threshold_value %}
                  <p class="success-msg">Congrats! you're eligible for free shipping</p>
              {% else %}
                <div>
                  <div class="shipping_percentage__box">
                    {% assign percentage =  settings.threshold_value | minus: cart_price | times: 100 | divided_by: settings.threshold_value %}
                    <div class="shipping_percentage__box--item" style="width: {{ 100 | minus: percentage }}%">
                      <div class="truck-icon">
                        {% render "icon" with 'delivery-truck' %}            
                      </div>
                    </div>
                  </div>
                </div>
                <div class="h4 free-delivery-info-container">
                  Shop above {{ settings.threshold_value | times: 100 | money_without_trailing_zeros }} to get Free Delivery
                </div>
              {% endif %}
          </div>
        {% endif %}
        <cart-drawer-items
          {% if cart == empty %}
            class=" is-empty"
          {% endif %}
        >
          <form
            action="{{ routes.cart_url }}"
            id="CartDrawer-Form"
            class="cart__contents cart-drawer__form"
            method="post"
          >
            <div id="CartDrawer-CartItems" class="drawer__contents js-contents">
              {%- if cart != empty -%}
                <div class="drawer__cart-items-wrapper">
                  <table class="cart-items" role="table">
                    <tbody role="rowgroup" data-csapp_line_wrapper>
                      {%- for item in cart.items -%}
                        <tr id="CartDrawer-Item-{{ item.index | plus: 1 }}" class="cart-item" role="row" data-csapp_line_index>
                          <td class="cart-item__media" role="cell" headers="CartDrawer-ColumnProductImage">
                            {% if item.image %}
                              {% comment %} Leave empty space due to a:empty CSS display: none rule {% endcomment %}
                              <a href="{{ item.url }}" class="cart-item__link" tabindex="-1" aria-hidden="true"> </a>
                              <img
                                class="cart-item__image"
                                src="{{ item.image | image_url: width: 300 }}"
                                alt="{{ item.image.alt | escape }}"
                                loading="lazy"
                                width="150"
                                height="{{ 150 | divided_by: item.image.aspect_ratio | ceil }}"
                              >
                            {% endif %}
                          </td>

                        <td class="cart-item__details" role="cell">
                          <div class="cart-item-details-price-container">
                              <div  class="cart-item__details" headers="CartDrawer-ColumnProduct">
                                <p class="h4">{{ item.product.vendor }}</p>
                                {%- if settings.show_vendor -%}
                                  <p class="h4">{{ item.product.vendor }}</p>
                                {%- endif -%}
      
                                <a href="{{ item.url }}" class="cart-item__name h4 break">
                                  {{- item.product.title | escape -}}
                                </a>
                         


                                {%- if item.product.has_only_default_variant == false
                                  or item.properties.size != 0
                                  or item.selling_plan_allocation != null
                                -%}
                                  <dl>
                                    {%- for property in item.properties -%}
                                      {%- assign property_first_char = property.first | slice: 0 -%}
                                      {%- if property.last != blank and property_first_char != '_' -%}
                                        <div class="product-option">
                                          <dt>{{ property.first }}:</dt>
                                          <dd>
                                            {%- if property.last contains '/uploads/' -%}
                                              <a
                                                href="{{ property.last }}"
                                                class="link"
                                                target="_blank"
                                                aria-describedby="a11y-new-window-message"
                                              >
                                                {{ property.last | split: '/' | last }}
                                              </a>
                                            {%- else -%}
                                              {{ property.last }}
                                            {%- endif -%}
                                          </dd>
                                        </div>
                                      {%- endif -%}
                                    {%- endfor -%}
                                  </dl>
                                {%- endif -%}
      
                                <ul
                                  class="discounts list-unstyled"
                                  role="list"
                                  aria-label="{{ 'customer.order.discount' | t }}"
                                >
                                  {%- for discount in item.line_level_discount_allocations -%}
                                    <li class="discounts__discount">
                                      {%- render 'icon' with 'discount' -%}
                                      {{ discount.discount_application.title }}
                                    </li>
                                  {%- endfor -%}
                                </ul>
                              </div>
                              <div class="cart-item__totals right" headers="CartDrawer-ColumnTotal"  data-csapp_line_price  data-csapp_discount_summery>
                                  {%- render 'loading-spinner' -%}
                                  <div class="cart-item__price-wrapper">
                                    {%- if item.original_line_price != item.final_line_price -%}
                                      <div class="cart-item__discounted-prices">
                                        <span class="visually-hidden">
                                          {{ 'products.product.price.regular_price' | t }}
                                        </span>
                                        <s class="cart-item__old-price price price--end">
                                          {{ item.original_line_price | money | remove: ".00" }}
                                        </s>
                                        <span class="visually-hidden">
                                          {{ 'products.product.price.sale_price' | t }}
                                        </span>
                                        <span class="price price--end">
                                          {{ item.final_line_price | money | remove: ".00" }}
                                        </span>
                                      </div>
                                    {%- else -%}
                                      <span class="price price--end">
                                        {{ item.original_line_price | money | remove: ".00" }}
                                      </span>
                                    {%- endif -%}
        
                                    {%- if item.variant.available and item.unit_price_measurement -%}
                                      <div class="unit-price caption">
                                        <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
                                        {{ item.unit_price | money }}
                                        <span aria-hidden="true">/</span>
                                        <span class="visually-hidden"
                                          >&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span
                                        >
                                        {%- if item.unit_price_measurement.reference_value != 1 -%}
                                          {{- item.unit_price_measurement.reference_value -}}
                                        {%- endif -%}
                                        {{ item.unit_price_measurement.reference_unit }}
                                      </div>
                                    {%- endif -%}
                                  </div>
                              </div>
                            </div>
                            <div>
                              {% assign isVariantPresent = false %}
                              {% unless item.product.has_only_default_variant %}
                                {% if item.product.options contains "Size" %}
                                  {% assign isVariantPresent = true %}
                                {% endif %}
                              {% endunless %}
                            <quantity-popover class="cart-item-content-box cart-variant-quantity-container {% if isVariantPresent == true %} size-variant{% endif %}" headers="CartDrawer-ColumnQuantity">
                                {% render 'cart-drawer-variant-selector', product: item.product, lineItem: item %}
                        
                                  <quantity-input class="quantity cart-quantity">
                                    <button class="quantity__button no-js-hidden" name="minus" type="button">
                                      <span class="visually-hidden">
                                        {{-
                                          'products.product.quantity.decrease'
                                          | t: product: item.product.title
                                          | escape
                                        -}}
                                      </span>
                                      {% render 'icon' with 'quantity-minus' %}
                                    </button>
                                    <input
                                      class="quantity__input"
                                      type="number"
                                      data-quantity-variant-id="{{ item.variant.id }}"
                                      name="updates[]"
                                      value="{{ item.quantity }}"
                                      {% # theme-check-disable %}
                                      data-cart-quantity="{{ cart | item_count_for_variant: item.variant.id }}"
                                      min="{{ item.variant.quantity_rule.min }}"
                                      {% if item.variant.quantity_rule.max != null %}
                                        max="{{ item.variant.quantity_rule.max }}"
                                      {% endif %}
                                      step="{{ item.variant.quantity_rule.increment }}"
                                      {% # theme-check-enable %}
                                      aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                                      id="Drawer-quantity-{{ item.index | plus: 1 }}"
                                      data-index="{{ item.index | plus: 1 }}"
                                    >
                                    <button class="quantity__button no-js-hidden" name="plus" type="button">
                                      <span class="visually-hidden">
                                        {{-
                                          'products.product.quantity.increase'
                                          | t: product: item.product.title
                                          | escape
                                        -}}
                                      </span>
                                      {% render 'icon' with 'plus' %}
                                    </button>
                                  </quantity-input>
                                  
                                  <cart-remove-button
                                        id="CartDrawer-Remove-{{ item.index | plus: 1 }}"
                                        data-index="{{ item.index | plus: 1 }}"
                                      >
                                    <button
                                      type="button"
                                      class="cart-remove-button"
                                      aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}"
                                      data-variant-id="{{ item.variant.id }}"
                                    >
                                      {% render 'icon' with 'cart-remove' %}
                                    </button>
                                  </cart-remove-button>
                                  
                                  <div
                                    id="CartDrawer-LineItemError-{{ item.index | plus: 1 }}"
                                    class="cart-item__error hidden"
                                    role="alert"
                                  >
                                    <small class="cart-item__error-text"></small>
                                    <svg
                                      aria-hidden="true"
                                      focusable="false"
                                      class="icon icon-error"
                                      viewBox="0 0 13 13"
                                    >
                                      <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
                                      <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
                                      <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
                                      <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
                                    </svg>
                                  </div>
                            </quantity-popover>
<div data-aiod-volume-discount-line_item-bar></div>

                          </div>                     
                          {% if item.product.tags contains 'ONSALE' %}
                            <span class="sale-info-text"> {{ settings.sale_info_text }}</span>
                          {% endif %}                          
                        </td>
                        </tr>
                      {%- endfor -%}
                    </tbody>
                  </table>
                </div>
              {%- endif -%}
              <p id="CartDrawer-LiveRegionText" class="visually-hidden" role="status"></p>
              <p id="CartDrawer-LineItemStatus" class="visually-hidden" aria-hidden="true" role="status">
                {{ 'accessibility.loading' | t }}
              </p>
            </div>
            <div id="CartDrawer-CartErrors" role="alert"></div>
          </form>          
        </cart-drawer-items>
        
        <div class="drawer__footer">
          {%  if settings.show_offers_cartdrawer %}
            <div class="drawer-offers">
              <div class="splide" id="offer-splide-drawer">
                {% render 'offer-splide' %}                 
              </div>          
            </div>
          {% endif %} 
          <cart-drawer-upsell-items>
            {% render "cart-upselling-products", cart: cart  %}
          </cart-drawer-upsell-items>
        </div>
     
      </div>

      <!-- Subtotals -->
    {%- if cart != empty -%}     
      <div class="cart-drawer__footer" {{ block.shopify_attributes }}>    
        <div class="totals" role="status">
          <h2 class="totals__total">Subtotal</h2>
          <p class="totals__total-value csapps-cart-original-total">{{ cart.total_price | money_with_currency | remove: ".00" }}</p>
        </div>
        <div class="cart__ctas" {{ block.shopify_attributes }}>
          <noscript>
            <button type="submit" class="cart__update-button button button--secondary" form="CartDrawer-Form">
              {{ 'sections.cart.update' | t }}
            </button>
          </noscript>

          <button
            type="submit"
            id="CartDrawer-Checkout"
            class="cart__checkout-button button"
            name="checkout"
            form="CartDrawer-Form"
            {% if cart == empty %}
              disabled
            {% endif %}
          >
            {{ 'sections.cart.checkout' | t }}
          </button>
        </div>   
      </div>       
    {% endif %}      
    </div>
  </div>
</cart-drawer>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');

      return msie > 0 || trident > 0;
    }

    if (!isIE()) return;
    const cartSubmitInput = document.createElement('input');
    cartSubmitInput.setAttribute('name', 'checkout');
    cartSubmitInput.setAttribute('type', 'hidden');
    document.querySelector('#cart').appendChild(cartSubmitInput);
    document.querySelector('#checkout').addEventListener('click', function (event) {
      document.querySelector('#cart').submit();
    });
  });
</script>
<style>

</style>