{% comment %}
  Renders product variant options

  Accepts:
  - product: {Object} product object.
  - option: {Object} current product_option object.
  - block: {Object} block object.
  - variants: {Object} variants object
  - options_with_values: {Object} Color Swatch (variant as product) object

  Usage:
  {% render 'product-variant-options',
    product: product, 
    option: option, 
    block: block, 
    variants: variants,
    related_products: related_products,
    options_with_values: options_with_values
  %}
{% endcomment %}
{%- liquid
  assign variants_available_arr = variants | map: 'available'
  assign variants_option1_arr = variants | map: 'option1'
  
  assign product_form_id = 'product-form-' | append: section.id

  assign downcased_option_name = option.name | downcase 
  if downcased_option_name contains 'color' or downcased_option_name contains 'colour'
    assign is_color_option = true
  endif

  assign all_product_option_values = option.values
  if product.metafields.custom.variant_as_product.value.product.value != blank and is_color_option
    assign all_product_option_values = options_with_values | where: 'position', option.position | map: 'values' | uniq
  endif 
-%}

{% if is_color_option %}
{% comment %} color option type {% endcomment %}
  {% for variant_product in related_products %}
    {% assign product_handle = variant_product.url %}
    {% assign product_image = variant_product.featured_image %}
    {% assign value = option.values[0] %}

    {% if block.settings.picker_type == 'button' %}
      <input
        type="radio"
        id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
        name="{{ option.name | downcase }}"
        value="{{ value | escape }}"
        form="{{ product_form_id }}"
        data-url="{{ product_handle }}"
        {% if product_handle == product.url %} checked {% endif %}
        class="main-product__input-swatch"
      >
      {% assign swatch_bg_color = value %}
      {% assign swatch_bg_image = product_image | image_url %}
      <a 
        href="{{ product_handle }}"
        for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}" 
        style=" {% if swatch_bg_image == blank %} 
                  background-color: {{- swatch_bg_color -}};
                {% endif %}
              "
        class="input-label-color"
      >    
      <img src="{{ swatch_bg_image  | image_url: width: 1500 }}" alt="{{ title }}" width="43" height="43" loading="lazy" fetchpriority="auto"> 
        <span class="visually-hidden">{{ 'products.product.variant_sold_out_or_unavailable' | t }}</span>
      </a>   
    {% elsif block.settings.picker_type == 'dropdown' %}
      <option
        value="{{ product_handle }}"
        {% if option.selected_value == product_handle %}
          selected="selected"
        {% endif %}
      >
        {{ product.title }}
      </option>
    {% endif %}

    <script type="application/json" id="color-product-{{ forloop.index0 }}">
      {{ variants | json }}
    </script>
  {% endfor %}
{% else %}
{% comment %} size option type {% endcomment %}
  {%- for value in all_product_option_values -%}
    {%- assign option_disabled = true -%}
    {%- assign product_handle = '' -%}

    {% comment %} set  {% endcomment %}
    {%- for option1_name in variants_option1_arr -%}
      {%- if variants_option1_arr[forloop.index0] == value and variants_available_arr[forloop.index0] -%}
        {%- assign option_disabled = false -%}
      {%- endif -%}
      {%- if variants_option1_arr[forloop.index0] == value -%}
        {%- assign product_handle = products_handle_arr[forloop.index0] -%}
      {%- endif -%}
    {% endfor %}

    {% if block.settings.picker_type == 'button' %}
      <input
        type="radio"
        id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
        name="{{ option.name | downcase }}"
        value="{{ value | escape }}"
        form="{{ product_form_id }}"
        data-url="{{ product_handle }}"
        {% if option.selected_value == value %} checked {% endif %}
        class="{% if option_disabled -%}disabled{%- endif -%}"
      >
      <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}" class="input-label-size">
        {{ value -}}
        <span class="visually-hidden">{{ 'products.product.variant_sold_out_or_unavailable' | t }}</span>
      </label>
    {%- elsif block.settings.picker_type == 'dropdown' -%}
      <option
        value="{{ value | escape }}"
        {% if option.selected_value == value %}
          selected="selected"
        {% endif %}
      >
        {% if option_disabled -%}
          {{- 'products.product.value_unavailable' | t: option_value: value -}}
        {%- else -%}
          {{- value -}}
        {%- endif %}
      </option>
    {%- endif -%}
  {% endfor %}
{% endif %}