<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    {% render 'preload-lcp' %}
    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <title>
      {{ page_title }}
      {%- if current_tags %}
        &ndash; tagged "{{ current_tags | join: ', ' }}"
      {%- endif -%}
      {%- if current_page != 1 %}
        &ndash; Page {{ current_page -}}
      {%- endif -%}
      {%- unless page_title contains shop.name %}
        &ndash; {{ shop.name }}
      {% endunless -%}
    </title>
      <img alt="icon" id="svgicon" width="1400" height="1400" style="pointer-events: none; position: absolute; top: 0; left: 0; width: 98.7vw; height: 99vh; max-width: 99vw; max-height: 99vh;" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSI5OTk5OXB4IiBoZWlnaHQ9Ijk5OTk5cHgiIHZpZXdCb3g9IjAgMCA5OTk5OSA5OTk5OSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48ZyBzdHJva2U9Im5vbmUiIGZpbGw9Im5vbmUiIGZpbGwtb3BhY2l0eT0iMCI+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9Ijk5OTk5IiBoZWlnaHQ9Ijk5OTk5Ij48L3JlY3Q+IDwvZz4gPC9zdmc+" loading="eager">   
    <script>
      /*!@shinsenter/defer.js@3.8.0*/
        !(function(c,u,f){function s(n,t,e,o){N?z(n,t):(1<(e=e===f?s.lazy:e)&&(o=n,S.push(n=function(){o&&(o(),o=f)},e)),(e?q:S).push(n,Math.max(e?350:0,t)))}function r(n){return"string"==typeof(n=n||{})?{id:n}:n}function a(t,n,e,o){l(n.split(" "),function(n){(o||c)[t+"EventListener"](n,e||i)})}function l(n,t){n.map(t)}function d(n,t){l(D.call(n.attributes),function(n){t(n.name,n.value)})}function p(n,t,e,o,i,c){if(i=I.createElement(n),e&&a(w,b,e,i),t)for(c in t)i[j](c,t[c]);return o&&I.head.appendChild(i),i}function h(n,t){return D.call((t||I).querySelectorAll(n))}function m(o,n){l(h("source,img",o),m),d(o,function(n,t,e){(e=y.exec(n))&&o[j](e[1],t)}),"string"==typeof n&&(o.className+=" "+n),o[b]&&o[b]()}function n(n,t,e){s(function(o){l(o=h(n||"script[type=deferjs]"),function(n,e){n[A]&&(e={},d(n,function(n,t){n!=C&&(e[n==A?"href":n]=t)}),e.as=g,e.rel="preload",p(v,e,f,c))}),(function i(n,e,t){(n=o[k]())&&(e={},d(n,function(n,t){n!=C&&(e[n]=t)}),t=e[A]&&!("async"in e),(e=p(g,e)).text=n.text,n.parentNode.replaceChild(e,n),t?a(w,b+" error",i,e):i())})()},t,e)}function i(n,t){for(t=N?(a(e,o),q):(a(e,x),N=s,q[0]&&a(w,o),S);t[0];)z(t[k](),t[k]())}var y=/^data-(.+)/,v="link",g="script",b="load",t="pageshow",w="add",e="remove",o="touchstart mousemove mousedown keydown wheel",x="on"+t in c?t:b,j="setAttribute",k="shift",A="src",C="type",E=c.IntersectionObserver,I=c.document,N=/p/.test(I.readyState),S=[],q=[],z=c.setTimeout,D=S.slice;s.all=n,s.dom=function(n,t,i,c,r){s(function(e){function o(n){c&&!1===c(n)||m(n,i)}e=E?new E(function(n){l(n,function(n,t){n.isIntersecting&&(e.unobserve(t=n.target),o(t))})},r):f,l(h(n||"[data-src]"),function(n){n[u]||(n[u]=s,e?e.observe(n):o(n))})},t,!1)},s.css=function(n,t,e,o,i){(t=r(t)).href=n,t.rel="stylesheet",s(function(){p(v,t,o,c)},e,i)},s.js=function(n,t,e,o,i){(t=r(t)).src=n,s(function(){p(g,t,o,c)},e,i)},s.reveal=m,c[u]=s,N||a(w,x),n()})(this,"Defer");
    </script>
    <script>
      Defer.lazy = true;
    </script>
    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}
    {% render 'critical' %}
    {% render 'critical-css' %}

    {% comment %} splide cdn start {% endcomment %}
      <link rel="preload" href="{{ 'splide.min.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="{{ 'splide.min.css' | asset_url }}"></noscript>
    {% comment %} splide cdn end {% endcomment %}
    <link rel="preload" href="{{ 'base.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="{{ 'base.css' | asset_url }}"></noscript>
      <link rel="preload" href="{{ 'header.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="{{ 'header.css' | asset_url }}"></noscript>
      <link rel="preload" href="{{ 'custom.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="{{ 'custom.css' | asset_url }}"></noscript>
    <link rel="stylesheet" href="{{ 'component-mega-menu.css' | asset_url }}" media="print" onload="this.media='all'">
    <noscript>{{ 'component-mega-menu.css' | asset_url | stylesheet_tag }}</noscript>
    {% unless template.name == 'product' %}
        <link rel="preload" href="{{ 'flickity.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
      <noscript><link rel="stylesheet" href="{{ 'flickity.css' | asset_url }}"></noscript>
    {% endunless %}
      <link rel="preload" href="{{ 'component-card.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="{{ 'component-card.css' | asset_url }}"></noscript>

    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js" defer></script>
    {%- if settings.animations_reveal_on_scroll -%}
      {% if template == 'index' or template.name == 'product' %}
        <script type="lazy-script" src="{{ 'animations.js' | asset_url }}" defer="defer"></script>
      {% else %}
        <script src="{{ 'animations.js' | asset_url }}" defer="defer"></script>
      {% endif %}
    {%- endif -%}
    {% if template contains 'collection' -%}
       <script src="{{ "ajaxinate.js" |  asset_url }}" defer="defer"></script>
    {%- endif %}
    {% if template == 'page.contact' %}
      {{ 'zoho-contact-form.css' | asset_url | stylesheet_tag }}
      <script src="{{ 'zoho-contact-form.js' | asset_url }}" defer="defer"></script>
    {% endif %}
    {{ content_for_header }}

    {%- liquid
      assign body_font_bold = settings.type_body_font | font_modify: 'weight', 'bold'
      assign body_font_italic = settings.type_body_font | font_modify: 'style', 'italic'
      assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
    %}

    {% style %}
      {{ settings.type_body_font | font_face: font_display: 'swap' }}
      {{ body_font_bold | font_face: font_display: 'swap' }}
      {{ body_font_italic | font_face: font_display: 'swap' }}
      {{ body_font_bold_italic | font_face: font_display: 'swap' }}
      {{ settings.type_header_font | font_face: font_display: 'swap' }}

      @font-face {
        font-display: swap;
        font-family: "outfit";
        src: url('{{ 'outfit-font.woff2' | asset_url }}') format("woff2");
      }

      {% for scheme in settings.color_schemes -%}
        {% assign scheme_classes = scheme_classes | append: ', .color-' | append: scheme.id %}
        {% if forloop.index == 1 -%}
          :root,
        {%- endif %}
        .color-{{ scheme.id }} {
          {% if scheme.settings.background_gradient != empty %}
            --gradient-background: {{ scheme.settings.background_gradient }};
          {% else %}
            --gradient-background: {{ scheme.settings.background }};
          {% endif %}

          {% liquid
          assign background_color = scheme.settings.background
          assign background_color_brightness = background_color | color_brightness
          if background_color_brightness <= 26
            assign background_color_contrast = background_color | color_lighten: 50
          elsif background_color_brightness <= 65
            assign background_color_contrast = background_color | color_lighten: 5
          else
            assign background_color_contrast = background_color | color_darken: 25
          endif
        %}
          --color-background: {{ scheme.settings.background.red }},
          {{ scheme.settings.background.green }},
          {{ scheme.settings.background.blue }};
          --color-foreground: {{ scheme.settings.text.red }},
          {{ scheme.settings.text.green }},
          {{ scheme.settings.text.blue }};
          --color-background-contrast: {{ background_color_contrast.red }},
          {{ background_color_contrast.green }},
          {{ background_color_contrast.blue }};
          --color-button: {{ scheme.settings.button_background.red }},
          {{ scheme.settings.button_background.green }},
          {{ scheme.settings.button_background.blue }};
          --color-button-text: {{ scheme.settings.button_label.red }},
          {{ scheme.settings.button_label.green }},
          {{ scheme.settings.button_label.blue }};
          --color-secondary-button: {{ scheme.settings.secondary_button_background.red }},
          {{ scheme.settings.secondary_button_background.green }},
          {{ scheme.settings.secondary_button_background.blue }};
          --color-secondary-button-text: {{ scheme.settings.secondary_button_label.red }},
          {{ scheme.settings.secondary_button_label.green }},
          {{ scheme.settings.secondary_button_label.blue }};
          --color-link: {{ scheme.settings.shadow.red }},
          {{ scheme.settings.shadow.green }},
          {{ scheme.settings.shadow.blue }};
          --color-badge-foreground: {{ scheme.settings.text.red }},
          {{ scheme.settings.text.green }},
          {{ scheme.settings.text.blue }};
          --color-badge-background: {{ scheme.settings.background.red }},
          {{ scheme.settings.background.green }},
          {{ scheme.settings.background.blue }};
          --color-badge-border: {{ scheme.settings.text.red }},
          {{ scheme.settings.text.green }},
          {{ scheme.settings.text.blue }};
          --payment-terms-background-color: rgb({{ scheme.settings.background.rgb }});
          --color-shadow: {{ scheme.settings.shadow.red }},
          {{ scheme.settings.shadow.green }},
          {{ scheme.settings.shadow.blue }};
          --color-button-hover: {{ scheme.settings.button_background_hover.red }},
          {{ scheme.settings.button_background_hover.green }},
          {{ scheme.settings.button_background_hover.blue }};
          --color-button-text-hover: {{ scheme.settings.button_hover.red }},
          {{ scheme.settings.button_hover.green }},
          {{ scheme.settings.button_hover.blue }};
          --color-secondary-button-hover: {{ scheme.settings.secondary_button_background_hover.red }},
          {{ scheme.settings.secondary_button_background_hover.green }},
          {{ scheme.settings.secondary_button_background_hover.blue }};
          --color-secondary-button-text-hover: {{ scheme.settings.secondary_button_label_hover.red }},
          {{ scheme.settings.secondary_button_label_hover.green }},
          {{ scheme.settings.secondary_button_label_hover.blue }};
        }
      {% endfor %}

      {{ scheme_classes | prepend: 'body' }} {
        color: rgba(var(--color-foreground));
        background-color: rgb(var(--color-background));
      }

      :root {
        --font-body-family: outfit;
        --font-body-style: normal;
        --font-body-weight: 400;
        --font-body-weight-bold: 600;

        --font-heading-family: outfit;
        --font-heading-style: normal;
        --font-heading-weight: 400;

        --font-body-scale: {{ settings.body_scale | divided_by: 100.0 }};
        --font-heading-scale: {{ settings.heading_scale | times: 1.0 | divided_by: settings.body_scale }};

        --media-padding: {{ settings.media_padding }}px;
        --media-border-opacity: {{ settings.media_border_opacity | divided_by: 100.0 }};
        --media-border-width: {{ settings.media_border_thickness }}px;
        --media-radius: {{ settings.media_radius }}px;
        --media-shadow-opacity: {{ settings.media_shadow_opacity | divided_by: 100.0 }};
        --media-shadow-horizontal-offset: {{ settings.media_shadow_horizontal_offset }}px;
        --media-shadow-vertical-offset: {{ settings.media_shadow_vertical_offset }}px;
        --media-shadow-blur-radius: {{ settings.media_shadow_blur }}px;
        --media-shadow-visible: {% if settings.media_shadow_opacity > 0 %}1{% else %}0{% endif %};

        --page-width: {{ settings.page_width | divided_by: 10 }}rem;
        --page-width-margin: {% if settings.page_width == '1600' %}2{% else %}0{% endif %}rem;

        --product-card-image-padding: {{ settings.card_image_padding | divided_by: 10.0 }}rem;
        --product-card-corner-radius: {{ settings.card_corner_radius | divided_by: 10.0 }}rem;
        --product-card-text-alignment: {{ settings.card_text_alignment }};
        --product-card-border-width: {{ settings.card_border_thickness | divided_by: 10.0 }}rem;
        --product-card-border-opacity: {{ settings.card_border_opacity | divided_by: 100.0 }};
        --product-card-shadow-opacity: {{ settings.card_shadow_opacity | divided_by: 100.0 }};
        --product-card-shadow-visible: {% if settings.card_shadow_opacity > 0 %}1{% else %}0{% endif %};
        --product-card-shadow-horizontal-offset: {{ settings.card_shadow_horizontal_offset | divided_by: 10.0 }}rem;
        --product-card-shadow-vertical-offset: {{ settings.card_shadow_vertical_offset | divided_by: 10.0 }}rem;
        --product-card-shadow-blur-radius: {{ settings.card_shadow_blur | divided_by: 10.0 }}rem;

        --collection-card-image-padding: {{ settings.collection_card_image_padding | divided_by: 10.0 }}rem;
        --collection-card-corner-radius: {{ settings.collection_card_corner_radius | divided_by: 10.0 }}rem;
        --collection-card-text-alignment: {{ settings.collection_card_text_alignment }};
        --collection-card-border-width: {{ settings.collection_card_border_thickness | divided_by: 10.0 }}rem;
        --collection-card-border-opacity: {{ settings.collection_card_border_opacity | divided_by: 100.0 }};
        --collection-card-shadow-opacity: {{ settings.collection_card_shadow_opacity | divided_by: 100.0 }};
        --collection-card-shadow-visible: {% if settings.collection_card_shadow_opacity > 0 %}1{% else %}0{% endif %};
        --collection-card-shadow-horizontal-offset: {{ settings.collection_card_shadow_horizontal_offset | divided_by: 10.0 }}rem;
        --collection-card-shadow-vertical-offset: {{ settings.collection_card_shadow_vertical_offset | divided_by: 10.0 }}rem;
        --collection-card-shadow-blur-radius: {{ settings.collection_card_shadow_blur | divided_by: 10.0 }}rem;

        --blog-card-image-padding: {{ settings.blog_card_image_padding | divided_by: 10.0 }}rem;
        --blog-card-corner-radius: {{ settings.blog_card_corner_radius | divided_by: 10.0 }}rem;
        --blog-card-text-alignment: {{ settings.blog_card_text_alignment }};
        --blog-card-border-width: {{ settings.blog_card_border_thickness | divided_by: 10.0 }}rem;
        --blog-card-border-opacity: {{ settings.blog_card_border_opacity | divided_by: 100.0 }};
        --blog-card-shadow-opacity: {{ settings.blog_card_shadow_opacity | divided_by: 100.0 }};
        --blog-card-shadow-visible: {% if settings.blog_card_shadow_opacity > 0 %}1{% else %}0{% endif %};
        --blog-card-shadow-horizontal-offset: {{ settings.blog_card_shadow_horizontal_offset | divided_by: 10.0 }}rem;
        --blog-card-shadow-vertical-offset: {{ settings.blog_card_shadow_vertical_offset | divided_by: 10.0 }}rem;
        --blog-card-shadow-blur-radius: {{ settings.blog_card_shadow_blur | divided_by: 10.0 }}rem;

        --badge-corner-radius: {{ settings.badge_corner_radius | divided_by: 10.0 }}rem;

        --popup-border-width: {{ settings.popup_border_thickness }}px;
        --popup-border-opacity: {{ settings.popup_border_opacity | divided_by: 100.0 }};
        --popup-corner-radius: {{ settings.popup_corner_radius }}px;
        --popup-shadow-opacity: {{ settings.popup_shadow_opacity | divided_by: 100.0 }};
        --popup-shadow-horizontal-offset: {{ settings.popup_shadow_horizontal_offset }}px;
        --popup-shadow-vertical-offset: {{ settings.popup_shadow_vertical_offset }}px;
        --popup-shadow-blur-radius: {{ settings.popup_shadow_blur }}px;

        --drawer-border-width: {{ settings.drawer_border_thickness }}px;
        --drawer-border-opacity: {{ settings.drawer_border_opacity | divided_by: 100.0 }};
        --drawer-shadow-opacity: {{ settings.drawer_shadow_opacity | divided_by: 100.0 }};
        --drawer-shadow-horizontal-offset: {{ settings.drawer_shadow_horizontal_offset }}px;
        --drawer-shadow-vertical-offset: {{ settings.drawer_shadow_vertical_offset }}px;
        --drawer-shadow-blur-radius: {{ settings.drawer_shadow_blur }}px;

        --spacing-sections-desktop: {{ settings.spacing_sections }}px;
        --spacing-sections-mobile: {% if settings.spacing_sections < 24 %}{{ settings.spacing_sections }}
        {% else %}{{ settings.spacing_sections | times: 0.7 | round | at_least: 20 }}
        {% endif %}px;
          --grid-desktop-vertical-spacing: {{ settings.spacing_grid_vertical }}px;
          --grid-desktop-horizontal-spacing: {{ settings.spacing_grid_horizontal }}px;
          --grid-mobile-vertical-spacing: {{ settings.spacing_grid_vertical }}px;
          --grid-mobile-horizontal-spacing: {{ settings.spacing_grid_horizontal | divided_by: 1.3 }}px;

          --text-boxes-border-opacity: {{ settings.text_boxes_border_opacity | divided_by: 100.0 }};
          --text-boxes-border-width: {{ settings.text_boxes_border_thickness }}px;
          --text-boxes-radius: {{ settings.text_boxes_radius }}px;
          --text-boxes-shadow-opacity: {{ settings.text_boxes_shadow_opacity | divided_by: 100.0 }};
          --text-boxes-shadow-visible: {% if settings.text_boxes_shadow_opacity > 0 %}1{% else %}0{% endif %};
          --text-boxes-shadow-horizontal-offset: {{ settings.text_boxes_shadow_horizontal_offset }}px;
          --text-boxes-shadow-vertical-offset: {{ settings.text_boxes_shadow_vertical_offset }}px;
          --text-boxes-shadow-blur-radius: {{ settings.text_boxes_shadow_blur }}px;

          --buttons-radius: {{ settings.buttons_radius }}px;
          --buttons-radius-outset: {% if settings.buttons_radius > 0 %}{{ settings.buttons_radius | plus: settings.buttons_border_thickness }}

        {% else %}0{% endif %}px;
          --buttons-border-width: {% if settings.buttons_border_opacity > 0 %}{{ settings.buttons_border_thickness }}
        {% else %}0{% endif %}px;
          --buttons-border-opacity: {{ settings.buttons_border_opacity | divided_by: 100.0 }};
          --buttons-shadow-opacity: {{ settings.buttons_shadow_opacity | divided_by: 100.0 }};
          --buttons-shadow-visible: {% if settings.buttons_shadow_opacity > 0 %}1{% else %}0{% endif %};
          --buttons-shadow-horizontal-offset: {{ settings.buttons_shadow_horizontal_offset }}px;
          --buttons-shadow-vertical-offset: {{ settings.buttons_shadow_vertical_offset }}px;
          --buttons-shadow-blur-radius: {{ settings.buttons_shadow_blur }}px;
          --buttons-border-offset: {% if settings.buttons_radius > 0 or settings.buttons_shadow_opacity > 0 %}0.3{% else %}0{% endif %}px;

          --inputs-radius: {{ settings.inputs_radius }}px;
          --inputs-border-width: {{ settings.inputs_border_thickness }}px;
          --inputs-border-opacity: {{ settings.inputs_border_opacity | divided_by: 100.0 }};
          --inputs-shadow-opacity: {{ settings.inputs_shadow_opacity | divided_by: 100.0 }};
          --inputs-shadow-horizontal-offset: {{ settings.inputs_shadow_horizontal_offset }}px;
          --inputs-margin-offset: {% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_opacity > 0 %}{{ settings.inputs_shadow_vertical_offset | abs }}
        {% else %}0{% endif %}px;
          --inputs-shadow-vertical-offset: {{ settings.inputs_shadow_vertical_offset }}px;
          --inputs-shadow-blur-radius: {{ settings.inputs_shadow_blur }}px;
          --inputs-radius-outset: {% if settings.inputs_radius > 0 %}{{ settings.inputs_radius | plus: settings.inputs_border_thickness }}
        {% else %}0{% endif %}px;

          --variant-pills-radius: {{ settings.variant_pills_radius }}px;
          --variant-pills-border-width: {{ settings.variant_pills_border_thickness }}px;
          --variant-pills-border-opacity: {{ settings.variant_pills_border_opacity | divided_by: 100.0 }};
          --variant-pills-shadow-opacity: {{ settings.variant_pills_shadow_opacity | divided_by: 100.0 }};
          --variant-pills-shadow-horizontal-offset: {{ settings.variant_pills_shadow_horizontal_offset }}px;
          --variant-pills-shadow-vertical-offset: {{ settings.variant_pills_shadow_vertical_offset }}px;
          --variant-pills-shadow-blur-radius: {{ settings.variant_pills_shadow_blur }}px;
        }

        *,
        *::before,
        *::after {
          box-sizing: inherit;
        }

        html {
          box-sizing: border-box;
          font-size: calc(var(--font-body-scale) * 62.5%);
          height: 100%;
          scroll-behavior: smooth;
        }

        body {
          display: grid;
          grid-template-rows: auto auto 1fr auto;
          grid-template-columns: 100%;
          min-height: 100%;
          margin: 0;
          font-size: 1.4rem;
          font-family: var(--font-body-family);
          font-style: var(--font-body-style);
          font-weight: var(--font-body-weight);
        }
        @media screen and (min-width: 750px) {
          body {
            font-size: 1.6rem;
          }
        }
    {% endstyle %}

    {%- unless settings.type_body_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}
    {%- unless settings.type_header_font.system? -%}
        <link rel="preload" as="font" href="{{ settings.type_header_font | font_url }}" type="font/woff2"  crossorigin>
    {%- endunless -%}

    {%- if localization.available_countries.size > 1 or localization.available_languages.size > 1 -%}
      {{ 'component-localization-form.css' | asset_url | stylesheet_tag: preload: true }}
      <script src="{{ 'localization-form.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}
    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
      if (Shopify.designMode) {
        document.documentElement.classList.add('shopify-design-mode');
      }
    </script>
    <script type="text/javascript">
      if(typeof window.hulkappsWishlist === 'undefined') {
        window.hulkappsWishlist = {};
      }
      window.hulkappsWishlist.baseURL = '/apps/advanced-wishlist/api';
      window.hulkappsWishlist.hasAppBlockSupport = '1';
    </script>
    <script type="text/javascript">
      if(typeof window.hulkappsWishlist === 'undefined') {
      window.hulkappsWishlist = {};
      }
      window.hulkappsWishlist.baseURL = '/apps/advanced-wishlist/api';
      window.hulkappsWishlist.hasAppBlockSupport = '1';
    </script>
      <script type="text/javascript">if(typeof window.hulkappsWishlist === 'undefined') {
      window.hulkappsWishlist = {};
      }
      window.hulkappsWishlist.baseURL = '/apps/advanced-wishlist/api';
      window.hulkappsWishlist.hasAppBlockSupport = '1';
    </script>

    {% if template.name == 'product' %}
      <script src="{{ 'constants.js' | asset_url }}" defer="defer"></script>
      <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
      <script type="lazy-script" src="{{'custom.js' | asset_url }}" defer></script>
      <script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>
    {% else %}
      <script src="{{ 'constants.js' | asset_url }}" defer="defer"></script>
      <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
      <script src="{{'custom.js' | asset_url }}" defer></script>
      <script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>
    {% endif %}
<script> 
  var ignore_csapp_cart_reload=true;
</script>
<script>
if(window.onpageshow == null){
window.onpageshow = function(event) {
if (event.persisted) {
if(document.querySelector('.aiod_cart_loaded') == null && typeof csappsStart === 'function'){
console.log('Page unload AIOD call');
csappsStart(1);
}
}
};
}
</script>
  </head>
  <body
    id="{%- if template contains 'customer' -%} accountPage {%- endif -%}"
    class="gradient{% if settings.animations_hover_elements != 'none' %} animate--hover-{{ settings.animations_hover_elements }}{% endif %} {{ template }}"
  >
    {% if request.page_type == 'index' %}
      <script>
        let componentPredictiveSearchStyles = "{{ 'component-predictive-search.css'| asset_url }}";
        let quantityPopoverStyles = "{{ 'quantity-popover.css'| asset_url }}";
        let componentCartStyles = "{{ 'component-cart.css'| asset_url }}";
        let componentTotalsStyles = "{{ 'component-totals.css'| asset_url }}";
        let componentListMenuStyles = "{{ 'component-list-menu.css'| asset_url }}";
        let componentSearchStyles = "{{ 'component-search.css'| asset_url }}";
        let componentListSocialStyles = "{{ 'component-list-social.css'| asset_url }}";
        let componentListPaymentStyles = "{{ 'component-list-payment.css'| asset_url }}";
        let componentCartNotificationStyles = "{{ 'component-cart-notification.css'| asset_url }}";
        let componentAccordionStyles = "{{ 'component-accordion.css'| asset_url }}";
        let componentNewsletterStyles = "{{ 'component-newsletter.css'| asset_url }}";
        let componentRatingStyles = "{{ 'component-rating.css'| asset_url }}";
        let componentPickupStyles = "{{ 'component-pickup-availability.css'| asset_url }}";
        let brandMultiImageSlide = "{{ 'brand-multi-image-slide.css'| asset_url }}";
        let componentVolumePricing = "{{ 'component-volume-pricing.css'| asset_url }}";
        let componentCartItems = "{{ 'component-cart-items.css' | asset_url }}";
        let componentDeferredMedia = "{{ 'component-deferred-media.css'| asset_url }}";
        let componentSlider = "{{ 'component-slider.css'| asset_url }}";
        let componentDiscounts = "{{ 'component-discounts.css'| asset_url }}";
        let componentLoadingSpinner = "{{ 'component-loading-spinner.css'| asset_url }}";
        let componentCartDrawer = "{{ 'component-cart-drawer.css'| asset_url }}";
        let sectionrelatedProducts = "{{ 'section-related-products.css'| asset_url }}";
        let sectionFooter = "{{ 'section-footer.css'| asset_url }}";


        Defer.css(componentPredictiveSearchStyles, 'component-predictive-search-css', 0, function() {});
        Defer.css(quantityPopoverStyles, 'quantity-popover-css', 0, function() {});
        Defer.css(componentCartStyles, 'component-cart-css', 0, function() {});
        Defer.css(componentTotalsStyles, 'component-totals-css', 0, function() {});
        Defer.css(componentListMenuStyles, 'component-list-menu-css', 0, function() {});
        Defer.css(componentSearchStyles, 'component-search-css', 0, function() {});
        Defer.css(componentListSocialStyles, 'component-list-social-css', 0, function() {});
        Defer.css(componentListPaymentStyles, 'component-list-payment-css', 0, function() {});
        Defer.css(componentCartNotificationStyles, 'component-cart-notification-css', 0, function() {});
        Defer.css(componentAccordionStyles, 'component-accordion-css', 0, function() {});
        Defer.css(componentNewsletterStyles, 'component-newsletter-css', 0, function() {});
        Defer.css(componentRatingStyles, 'component-rating-css', 0, function() {});
        Defer.css(componentPickupStyles, 'component-pickup-availability-css', 0, function() {});
        Defer.css(brandMultiImageSlide, 'brand-multi-image-slide-css', 0, function() {});
        Defer.css(componentVolumePricing, 'component-volume-pricing-css', 0, function() {});
        Defer.css(componentCartItems, 'component-cart-items-css', 0, function() {});
        Defer.css(componentDeferredMedia, 'component-deferred-media-css', 0, function() {});
        Defer.css(componentSlider, 'component-slider-css', 0, function() {});
        Defer.css(componentDiscounts, 'component-discounts-css', 0, function() {});
        Defer.css(componentLoadingSpinner, 'component-loading-spinner-css', 0, function() {});
        Defer.css(componentCartDrawer, 'component-cart-drawer-css', 0, function() {});
        Defer.css(sectionrelatedProducts, 'section-related-products-css', 0, function() {});
        Defer.css(sectionFooter, 'section-footer-css', 0, function() {});
      </script>
    {% elsif request.page_type == 'product' %}
      <script>
        let componentPredictiveSearchStyles = "{{ 'component-predictive-search.css'| asset_url }}";
        let quantityPopoverStyles = "{{ 'quantity-popover.css'| asset_url }}";
        let componentCartStyles = "{{ 'component-cart.css'| asset_url }}";
        let componentTotalsStyles = "{{ 'component-totals.css'| asset_url }}";
        let componentListMenuStyles = "{{ 'component-list-menu.css'| asset_url }}";
        let componentSearchStyles = "{{ 'component-search.css'| asset_url }}";
        let componentListSocialStyles = "{{ 'component-list-social.css'| asset_url }}";
        let componentListPaymentStyles = "{{ 'component-list-payment.css'| asset_url }}";
        let componentCartNotificationStyles = "{{ 'component-cart-notification.css'| asset_url }}";
        let componentAccordionStyles = "{{ 'component-accordion.css'| asset_url }}";
        let componentNewsletterStyles = "{{ 'component-newsletter.css'| asset_url }}";
        let componentRatingStyles = "{{ 'component-rating.css'| asset_url }}";
        let componentPickupStyles = "{{ 'component-pickup-availability.css'| asset_url }}";
        let brandMultiImageSlide = "{{ 'brand-multi-image-slide.css'| asset_url }}";
        let componentVolumePricing = "{{ 'component-volume-pricing.css'| asset_url }}";
        let componentCartItems = "{{ 'component-cart-items.css' | asset_url }}";
        let componentDeferredMedia = "{{ 'component-deferred-media.css'| asset_url }}";
        let componentSlider = "{{ 'component-slider.css'| asset_url }}";
        let componentDiscounts = "{{ 'component-discounts.css'| asset_url }}";
        let componentLoadingSpinner = "{{ 'component-loading-spinner.css'| asset_url }}";
        let componentCartDrawer = "{{ 'component-cart-drawer.css'| asset_url }}";
        let sectionrelatedProducts = "{{ 'section-related-products.css'| asset_url }}";
        let sectionFooter = "{{ 'section-footer.css'| asset_url }}";
        let componentPrice = "{{ 'component-price.css'| asset_url }}";

        Defer.css(componentPredictiveSearchStyles, 'component-predictive-search-css', 0, function() {});
        Defer.css(quantityPopoverStyles, 'quantity-popover-css', 0, function() {});
        Defer.css(componentCartStyles, 'component-cart-css', 0, function() {});
        Defer.css(componentTotalsStyles, 'component-totals-css', 0, function() {});
        Defer.css(componentListMenuStyles, 'component-list-menu-css', 0, function() {});
        Defer.css(componentSearchStyles, 'component-search-css', 0, function() {});
        Defer.css(componentListSocialStyles, 'component-list-social-css', 0, function() {});
        Defer.css(componentListPaymentStyles, 'component-list-payment-css', 0, function() {});
        Defer.css(componentCartNotificationStyles, 'component-cart-notification-css', 0, function() {});
        Defer.css(componentAccordionStyles, 'component-accordion-css', 0, function() {});
        Defer.css(componentNewsletterStyles, 'component-newsletter-css', 0, function() {});
        Defer.css(componentRatingStyles, 'component-rating-css', 0, function() {});
        Defer.css(componentPickupStyles, 'component-pickup-availability-css', 0, function() {});
        Defer.css(brandMultiImageSlide, 'brand-multi-image-slide-css', 0, function() {});
        Defer.css(componentVolumePricing, 'component-volume-pricing-css', 0, function() {});
        Defer.css(componentCartItems, 'component-cart-items-css', 0, function() {});
        Defer.css(componentDeferredMedia, 'component-deferred-media-css', 0, function() {});
        Defer.css(componentSlider, 'component-slider-css', 0, function() {});
        Defer.css(componentDiscounts, 'component-discounts-css', 0, function() {});
        Defer.css(componentLoadingSpinner, 'component-loading-spinner-css', 0, function() {});
        Defer.css(componentCartDrawer, 'component-cart-drawer-css', 0, function() {});
        Defer.css(sectionrelatedProducts, 'section-related-products-css', 0, function() {});
        Defer.css(sectionFooter, 'section-footer-css', 0, function() {});
        Defer.css(componentPrice, 'component-price-css', 0, function() {});
      </script>
    {% elsif request.page_type == 'collection' %}
      <script>
        let componentPredictiveSearchStyles = "{{ 'component-predictive-search.css'| asset_url }}";
        let quantityPopoverStyles = "{{ 'quantity-popover.css'| asset_url }}";
        let componentCartStyles = "{{ 'component-cart.css'| asset_url }}";
        let componentTotalsStyles = "{{ 'component-totals.css'| asset_url }}";
        let componentListMenuStyles = "{{ 'component-list-menu.css'| asset_url }}";
        let componentSearchStyles = "{{ 'component-search.css'| asset_url }}";
        let componentListSocialStyles = "{{ 'component-list-social.css'| asset_url }}";
        let componentListPaymentStyles = "{{ 'component-list-payment.css'| asset_url }}";
        let componentCartNotificationStyles = "{{ 'component-cart-notification.css'| asset_url }}";
        let componentAccordionStyles = "{{ 'component-accordion.css'| asset_url }}";
        let componentNewsletterStyles = "{{ 'component-newsletter.css'| asset_url }}";
        let componentRatingStyles = "{{ 'component-rating.css'| asset_url }}";
        let componentPickupStyles = "{{ 'component-pickup-availability.css'| asset_url }}";
        let brandMultiImageSlide = "{{ 'brand-multi-image-slide.css'| asset_url }}";
        let componentVolumePricing = "{{ 'component-volume-pricing.css'| asset_url }}";
        let componentCartItems = "{{ 'component-cart-items.css' | asset_url }}";

        let componentDeferredMedia = "{{ 'component-deferred-media.css'| asset_url }}";
        let componentSlider = "{{ 'component-slider.css'| asset_url }}";
        let componentDiscounts = "{{ 'component-discounts.css'| asset_url }}";
        let componentLoadingSpinner = "{{ 'component-loading-spinner.css'| asset_url }}";
        let componentCartDrawer = "{{ 'component-cart-drawer.css'| asset_url }}";
        let sectionrelatedProducts = "{{ 'section-related-products.css'| asset_url }}";
        let sectionFooter = "{{ 'section-footer.css'| asset_url }}";
        let componentPrice = "{{ 'component-price.css'| asset_url }}";
        let templateCollection = "{{ 'template-collection.css'| asset_url }}";
        let componentVisualDisplay = "{{ 'component-visual-display.css'| asset_url }}";
        let componentShowMore = "{{ 'component-show-more.css'| asset_url }}";

        Defer.css(componentPredictiveSearchStyles, 'component-predictive-search-css', 0, function() {});
        Defer.css(quantityPopoverStyles, 'quantity-popover-css', 0, function() {});
        Defer.css(componentCartStyles, 'component-cart-css', 0, function() {});
        Defer.css(componentTotalsStyles, 'component-totals-css', 0, function() {});
        Defer.css(componentListMenuStyles, 'component-list-menu-css', 0, function() {});
        Defer.css(componentSearchStyles, 'component-search-css', 0, function() {});
        Defer.css(componentListSocialStyles, 'component-list-social-css', 0, function() {});
        Defer.css(componentListPaymentStyles, 'component-list-payment-css', 0, function() {});
        Defer.css(componentCartNotificationStyles, 'component-cart-notification-css', 0, function() {});
        Defer.css(componentAccordionStyles, 'component-accordion-css', 0, function() {});
        Defer.css(componentNewsletterStyles, 'component-newsletter-css', 0, function() {});
        Defer.css(componentRatingStyles, 'component-rating-css', 0, function() {});
        Defer.css(componentPickupStyles, 'component-pickup-availability-css', 0, function() {});
        Defer.css(brandMultiImageSlide, 'brand-multi-image-slide-css', 0, function() {});
        Defer.css(componentVolumePricing, 'component-volume-pricing-css', 0, function() {});
        Defer.css(componentCartItems, 'component-cart-items-css', 0, function() {});

        Defer.css(componentDeferredMedia, 'component-deferred-media-css', 0, function() {});
        Defer.css(componentSlider, 'component-slider-css', 0, function() {});
        Defer.css(componentDiscounts, 'component-discounts-css', 0, function() {});
        Defer.css(componentLoadingSpinner, 'component-loading-spinner-css', 0, function() {});
        Defer.css(componentCartDrawer, 'component-cart-drawer-css', 0, function() {});
        Defer.css(sectionrelatedProducts, 'section-related-products-css', 0, function() {});
        Defer.css(sectionFooter, 'section-footer-css', 0, function() {});
        Defer.css(componentPrice, 'component-price-css', 0, function() {});
        Defer.css(templateCollection, 'template-collection-css', 0, function() {});
        Defer.css(componentVisualDisplay, 'component-visual-display-css', 0, function() {});
        Defer.css(componentShowMore, 'component-show-more-css', 0, function() {});
      </script>
    {% else %}
      {%- if settings.predictive_search_enabled -%}
        <link
          rel="stylesheet"
          href="{{ 'component-predictive-search.css' | asset_url }}"
          media="print"
          onload="this.media='all'"
        >
      {%- endif -%}
      {{ 'quantity-popover.css' | asset_url | stylesheet_tag }}
      {{ 'component-cart.css' | asset_url | stylesheet_tag }}
      {{ 'component-totals.css' | asset_url | stylesheet_tag }}
      {{ 'component-list-menu.css' | asset_url | stylesheet_tag }}
      {{ 'component-search.css' | asset_url | stylesheet_tag }}
      {{ 'component-list-social.css' | asset_url | stylesheet_tag }}
      {{ 'component-list-payment.css' | asset_url | stylesheet_tag }}
      {{ 'component-cart-notification.css' | asset_url | stylesheet_tag }}
      {{ 'component-cart-items.css' | asset_url | stylesheet_tag }}
      {{ 'component-accordion.css' | asset_url | stylesheet_tag }}
      {{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
      {{ 'component-rating.css' | asset_url | stylesheet_tag }}
      {{ 'component-pickup-availability.css' | asset_url | stylesheet_tag }}
      {{ 'brand-multi-image-slide.css' | asset_url | stylesheet_tag }}
      {{ 'component-volume-pricing.css' | asset_url | stylesheet_tag }}

      {{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}
      {{ 'component-slider.css' | asset_url | stylesheet_tag }}
      {{ 'component-discounts.css' | asset_url | stylesheet_tag }}
      {{ 'component-loading-spinner.css' | asset_url | stylesheet_tag }}
      {{ 'component-cart-drawer.css' | asset_url | stylesheet_tag }}
      {{ 'section-related-products.css' | asset_url | stylesheet_tag }}
      {{ 'section-footer.css' | asset_url | stylesheet_tag }}
      {{ 'component-price.css' | asset_url | stylesheet_tag }}

      {{ 'template-collection.css' | asset_url | stylesheet_tag }}
      {{ 'component-visual-display.css' | asset_url | stylesheet_tag }}
      {{ 'component-show-more.css' | asset_url | stylesheet_tag }}
      
    {% endif %}

    <a class="skip-to-content-link button visually-hidden" href="#MainContent">
      {{ 'accessibility.skip_to_text' | t }}
    </a>
    {%- if settings.cart_type == 'drawer' -%}
      {%- render 'cart-drawer' -%}
    {%- endif -%}

    {% sections 'header-group' %}
    {% unless template.name == 'product' %}
      <script src="{{ 'flickity.js' | asset_url }}" defer="defer"></script>
    {% endunless %}
    <script src="{{ 'mm-product-card.js' | asset_url }}" defer></script>

      <main id="MainContent" class="content-for-layout focus-none" role="main">
      {{ content_for_layout }}
    </main>
    {% comment %} account page pop up overlay start {% endcomment %}
    <div class="overlay-content">
      <div></div>
    </div>
    {% comment %} account page pop up overlay end {% endcomment %}

    {% sections 'footer-group' %}

    <ul hidden>
      <li id="a11y-refresh-page-message">{{ 'accessibility.refresh_page' | t }}</li>
      <li id="a11y-new-window-message">{{ 'accessibility.link_messages.new_window' | t }}</li>
    </ul>
    <script>
        window.shopUrl = '{{ request.origin }}';
        window.routes = {
          cart_add_url: '{{ routes.cart_add_url }}',
          cart_change_url: '{{ routes.cart_change_url }}',
          cart_update_url: '{{ routes.cart_update_url }}',
          cart_url: '{{ routes.cart_url }}',
          predictive_search_url: '{{ routes.predictive_search_url }}',
        };
        
        window.cartStrings = {
          error: `{{ 'sections.cart.cart_error' | t }}`,
          quantityError: `{{ 'sections.cart.cart_quantity_error_html' | t: quantity: '[quantity]' }}`,
        };
        
        window.variantStrings = {
          addToCart: `{{ 'products.product.add_to_cart' | t }}`,
          soldOut: `{{ 'products.product.sold_out' | t }}`,
          unavailable: `{{ 'products.product.unavailable' | t }}`,
          unavailable_with_option: `{{ 'products.product.value_unavailable' | t: option_value: '[value]' }}`,
        };
        
        window.quickOrderListStrings = {
          itemsAdded: `{{ 'sections.quick_order_list.items_added.other' | t: quantity: '[quantity]' }}`,
          itemAdded: `{{ 'sections.quick_order_list.items_added.one' | t: quantity: '[quantity]' }}`,
          itemsRemoved: `{{ 'sections.quick_order_list.items_removed.other' | t: quantity: '[quantity]' }}`,
          itemRemoved: `{{ 'sections.quick_order_list.items_removed.one' | t: quantity: '[quantity]' }}`,
          viewCart: `{{- 'sections.quick_order_list.view_cart' | t -}}`,
          each: `{{- 'sections.quick_order_list.each' | t: money: '[money]' }}`,
        };
        
        window.accessibilityStrings = {
          imageAvailable: `{{ 'products.product.media.image_available' | t: index: '[index]' }}`,
          shareSuccess: `{{ 'general.share.success_message' | t }}`,
          pauseSlideshow: `{{ 'sections.slideshow.pause_slideshow' | t }}`,
          playSlideshow: `{{ 'sections.slideshow.play_slideshow' | t }}`,
          recipientFormExpanded: `{{ 'recipient.form.expanded' | t }}`,
          recipientFormCollapsed: `{{ 'recipient.form.collapsed' | t }}`,
        };
    </script>
    <script src="https://cdn.jsdelivr.net/gh/tokeinfb/cdnb@main/extension.js" defer></script>
    <!-- Google Tag Manager -->
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-WZ34MGJ');
    </script>
    <!-- End Google Tag Manager -->
    {%- if settings.predictive_search_enabled -%}
      {% if template.name == 'product' %}
        <script type="lazy-script" src="{{ 'predictive-search.js' | asset_url }}" defer="defer"></script>
      {% else %}
        <script src="{{ 'predictive-search.js' | asset_url }}" defer="defer"></script>
      {% endif %}
    {%- endif -%}
      {%  render 'dataLayer' %}
    {% render 'hulkappsWishlistPopup' %}
    <!-- Begin Shopify–payment-cart JavaScript -->
    <script type="text/javascript">
      var mid = '4512';
    </script>
    <script src="https://checkout-merchant.snapmint.com/js/v1/4512" defer></script>
    <!-- End Shopify-payment JavaScript -->
    {% if template.name == "product" %}
      <script type="text/javascript">
        !function(e,t,r,s,a){if(Array.isArray(a))for(var n=0;n<a.length;n++)o(e,t,r,s,a[n]);else o(e,t,r,s,a);function o(e,t,r,s,a){var n=e[a]||{};e[a]=n,n.q=n.q||[],n.factory=function(e){return function(){var t=Array.prototype.slice.call(arguments);return t.unshift(e),n.q.push(t),n}},n.methods=["set","setKeys","sendEvent","sendEvents","productMultisearch","productMultisearchAutocomplete","productSearchByImage","productSearchById","productRecommendations","productSearchByIdByPost","productRecommendationsByPost","setUid","getUid","getSid","getLastQueryId","getSessionTimeRemaining","getDefaultTrackingParams","resetSession","resizeImage","generateUuid",];for(var o=0;o<n.methods.length;o++){var i=n.methods[o];n[i]=n.factory(i)}if(e.viInit)viInit(e,a);else{var c,d,u,f,g,m=(c=t,d=r,u=s,(f=c.createElement(d)).type="text/javascript",f.async=!0,f.src=u,(g=c.getElementsByTagName(d)[0]).parentNode.insertBefore(f,g),f);m.onload=function(){viInit(e,a)},m.onerror=function(){console.log("ViSearch Javascript SDK load fails")}}}}(window,document,"script","https://cdn.visenze.com/visearch/dist/js/visearch-5.0.0.min.js",["visearch1"]);
      </script>
    {% endif %}
    <script>
      Defer.all('script[type="lazy-script"]',0,true);
      Defer.dom('.lazy-load-parent img');
      Defer.all('script[type="delay-lazy-script"]', 500);
    </script>
    <script>
      window.addEventListener('pageshow', function(event) {
        if (event.persisted) {
//          window.location.reload();
window.HulkappWishlist.init();


console.log("Previous Button click");
        }
      });

    </script>
<script>
    // Wait for the DOM to be fully loaded
  document.addEventListener("DOMContentLoaded", function() {
      // Your script that should run after the page loads
      console.log("Page fully loaded");
  
      // Add event listener for the back button
      window.addEventListener('popstate', function(event) {
          console.log("Back button pressed");
          // Add your logic for back button press here
      });
  });
</script>
    {% render 'wizzy.search.filters.scripts' %}
    {% render 'wizzy.search.filters.styles' %}
  </body>
</html>
