 
{{ 'custom_customer.css' | asset_url | stylesheet_tag }}
<script src="{{ 'account.js' | asset_url }}" defer="defer"></script>

{{ 'account-sidebar.css' | asset_url | stylesheet_tag }}


<div class="customer account-main account section-{{ section.id }}-padding">
  <div class="account-sidebar">
    {% render 'account-sidebar', section: section %}
  </div>

  <div class="account-information">
    <div class="content-div" id="dashboard-content">
      <div class="overview-parent-container" id="dashboard-content">
        <div class="child-div">
          <div class="child_sub">
            <div class="dashboard-heading customer-name account-icon-container">
              {% render 'profile-icon' %}
              <p>{{ customer.name }}</p>
            </div>
            <p class="dashboard-text-phone overview-para">
              Mobile:{{ customer.phone }}</p>
            <p class="customer-email overview-para">Email: {{ customer.email }}</p>
          </div>
        </div>
        <div class="child-div">
          <div class="child_sub">
            <div class="account-icon-container mobile-svg">
              {% render 'address-icon' %}
              <p class="dashboard-heading">Shipping Address</p>
            </div>
            <p class="dashboard-text-container overview-para">Checkout faster with your saved addresses</p>
            <p class="view-all-link" onclick="showContent('address')">Shipping Address</p>
          </div>
        </div>
        <div class="child-div">
          <div class="child_sub">
            <div class="account-icon-container mobile-svg">
              {% render 'wishlist-icon' %}
              <p class="dashboard-heading">Wishlist</p>
            </div>
            <p class="dashboard-text-container overview-para wish-list-para">Edit name, mailing address, phone number, birthday, and shopping preference.</p>
            <p class="view-all-link" onclick="showContent('wishlist')">View Items</p>
          </div>
        </div>
        <div class="child-div online_order_tab">
          <div class="child_sub">
            <div class="account-icon-container mobile-svg">
              {% render 'order-icon' %}
              <p class="dashboard-heading">Online Orders</p>
            </div>
            <p class="dashboard-text-container overview-para">
              Your MyRaymond online orders</p>
            <p class="view-all-link" onclick="showContent('order')">Online Orders</p>
          </div>
        </div>
      </div>
      <div class="logout-container">
        <a class="logout" href="{{ routes.account_logout_url }}">
          {% render 'logout-icon' %}
          {{ 'customer.log_out' | t }}
        </a>
      </div>
    </div>
    <div id="address-content" class="content-div">
      {% render "address-snippet" %} 
    </div>
    <div>
      <div id="profile-content" class="content-div">
        <p>profile i am profile</p>
      </div>
    </div>
    <div id="wishlist-content" class="content-div">
      <p>wishlist</p>
    </div>

    <div id="order-content" class="content-div">
      {%  render 'order-snippet' %} 
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "t:sections.main-account.name",
    "settings": [
      {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      }, {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      }, {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }
    ],
    "blocks": [
      {
        "type": "tab-heading",
        "name": "Tab Heading",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Heading"
          },
          {
            "type": "text",
            "id": "data-id",
            "label": "Data Id",
            "info": "Add name for ID to map with tabs."
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "t:sections.main-account.name",
        "blocks": [
          {
            "type": "tab-heading"
          },
          {
            "type": "tab-heading"
          },
          {
            "type": "tab-heading"
          },
          {
            "type": "tab-heading"
          }
        ]
      }
    ]
  }
{% endschema %}